body.format-visualsections {

    .carousel-control-prev, .carousel-control-next {
        width: 12.5%;
        i {
            color: grey;
            font-size: 4em;
        }
    }

    .carousel-indicators.carousel-indicators-relative {
        position: relative;
        margin-top: 2em;
        li {
            background-color: grey;
        }
    }

}