body.format-visualsections {

    .carousel-control-prev, .carousel-control-next {
        width: 12.5%;
        img {
            width: 2em;
            height: 2em;
        }
    }

    .carousel-indicators.carousel-indicators-relative {
        position: relative;
        margin-top: 2em;
        li {
            width: 1em;
            height: 1em;
            text-indent: 0;
            background-color: none;
            &:not(.active) > img:last-of-type {
                display: none;
            }
            &.active > img:first-of-type{
                display: none;
            }
        }

    }

    .carousel-inner {
        padding-left: 15%;
        padding-right: 15%;
    }

}