body.format-visualsections {

    &.editing div.subsection .alert {
        // Prevent sub section alerts from covering up the edit menu.
        width: calc(100% - 90px);
    }

    &#page-course-editsection {
        #fitem_id_parentid, #fitem_id_typecode, #fitem_id_size {
            display: none;
        }
    }

    &:not(.editing) .subsection li.section > div.content h3.sectionname {
        display: none;
    }

    .course-content {
        ul.visualsections {
            margin: 0;
            list-style: none;
        }
        > ul.visualsections > li.section {
            > .content {
                margin: 0 40px;
            }
            > .left, .right {
                width: 40px;
                padding: 0 6px;
            }
        }
    }

    .course-content ul.visualsections li.section .left {
        padding-top: 22px;
        text-align: right;
    }

    .jsenabled .course-content ul.visualsections li.section .left,
    .jsenabled .course-content ul.visualsections li.section .right {
        width: auto;
    }

    .course-content ul.visualsections li.section .left .section-handle img.icon {
        padding: 0;
        vertical-align: baseline;
    }

    .course-content ul.visualsections li.section .section_action_menu .textmenu,
    .course-content ul.visualsections li.section .section_action_menu .menu-action-text {
        white-space: nowrap;
    }

    // By default, students don't see all the sections - just the active ones.
    ul.visualsections > li.section {
        display: none;
        &.active {
            display: block;
        }
    }

    // By default, teachers see all the sections.
    ul.visualsections.capcourseupdate li.section {
        display: block;
    }

    .subsection-icon {
        max-width: 3em;
        height: auto;
        margin-right: 1em;
    }

    img.icon.size-icon {
        font-size: 1em;
        width: 2em;
        height: 2em;
        margin-left: 2em;
    }

    li.section {
        margin-bottom: 2em;
    }

    h3.sectiontitle {
        font-size: 1rem;
        min-height: 4em;
    }

    .subsectiontyperow {
        margin-bottom: 0.25em;
        list-style: none;
    }

    .subsectiontypes ul {
        padding-left: 0;
    }

    .subsection.yui3-dd-drop-active-invalid .section.collapse{
        display: block;
    }

    .card.subsection {
        border: none;
        border-bottom: 5px solid #000000;
        .card-header {
            background-color: #ffffff;
            border-bottom: none;
            width: 100%;
            text-align: left;
        }
        .subsection-heading .btn-link {
            &,
            &:hover {
                text-decoration: none;
            }
        }
        span.inplaceeditable[data-itemtype="sectionname"] {
            display: none;
        }
        .subsection-title {
            color: #000000;
            font-size: 32px;
        }
        h2.subsection-heading > button {
            display: flex;
            width: 100%;
            flex-direction: row;
            .toggleicon {
                margin-left: auto;
                width: 16px;
                display: block;
                transform: rotate(180deg);
            }

            &.collapsed .toggleicon {
                transform: rotate(0deg);
            }
        }
    }

    ul li.section:last-of-type .subsection:last-of-type .move-down {
        display: none;
    }

    ul li.section:nth-of-type(2) .subsection:first-of-type .move-up {
        display: none;
    }

    .subsection .section .card-body > ul {
        list-style: none;
    }

    #format-footer {
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    &.editing {
        #format-footer {
            display: none;
        }
    }
}

