#page-admin-setting-formatsettingvisualsections button.imagethumb {
  min-width: 2.5em;
  min-height: 2.5em;
  -webkit-background-size: cover;
          background-size: cover; }
  #page-admin-setting-formatsettingvisualsections button.imagethumb i {
    opacity: 0.25; }

#page-admin-setting-formatsettingvisualsections .subsectiontypes button {
  pointer-events: none;
  opacity: 0.5; }

#page-admin-setting-formatsettingvisualsections .subsectiontypes.jsloaded button {
  pointer-events: all;
  opacity: 1; }

body {
  background: #333;
  color: #ddd; }

@media (min-width: 768px) {
  .multi-item-carousel .carousel-inner .carousel-item {
    margin-right: inherit; }
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item {
      display: block; }
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      -webkit-transition: none;
              transition: none; }
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333333333%;
      z-index: -1;
      display: block;
      visibility: visible; }
    .multi-item-carousel .carousel-inner .carousel-item-next, .multi-item-carousel .carousel-inner .carousel-item-prev {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
  .multi-item-carousel .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  .multi-item-carousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item,
  .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  .multi-item-carousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item,
  .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible; } }

body.format-visualsections .course-content ul.visualsections {
  margin: 0;
  list-style: none; }

body.format-visualsections .course-content ul.visualsections li.section .content {
  margin: 0 40px; }

body.format-visualsections .course-content ul.visualsections li.section .left,
body.format-visualsections .course-content ul.visualsections li.section .right {
  width: 40px;
  padding: 0 6px; }

body.format-visualsections .course-content ul.visualsections li.section .left {
  padding-top: 22px;
  text-align: right; }

body.format-visualsections .jsenabled .course-content ul.visualsections li.section .left,
body.format-visualsections .jsenabled .course-content ul.visualsections li.section .right {
  width: auto; }

body.format-visualsections .course-content ul.visualsections li.section .left .section-handle img.icon {
  padding: 0;
  vertical-align: baseline; }

body.format-visualsections .course-content ul.visualsections li.section .section_action_menu .textmenu,
body.format-visualsections .course-content ul.visualsections li.section .section_action_menu .menu-action-text {
  white-space: nowrap; }

.sectionCircle {
  width: 33%;
  min-width: 150px; }

.subsectiontyperow {
  margin-bottom: 0.25em;
  list-style: none; }

.subsectiontypes ul {
  padding-left: 0; }