{{#editmode}}
    <button class="js-add-subsection my-4" data-sectionid="{{sectionid}}">
        <i class="fa fa-plus"></i>
        <span>
            {{#str}}addsubsection, format_visualsections{{/str}}
        </span>
    </button>
{{/editmode}}