<div class="vsec-nonlinear-svg-circles">
    {{#total1}}
    <div class="vsec-one-item">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item">
                </div>
            </div>
        </div>
    </div>
    {{/total1}}
    {{#total2}}
    <div class="two-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total2}}
    {{#total3}}
    <div class="three-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total3}}
    {{#total4}}
    <div class="four-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total4}}
    {{#total5}}
    <div class="five-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total5}}
    {{#total6}}
    <div class="six-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total6}}
    {{#total7}}
    <div class="seven-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total7}}
    {{#total8}}
    <div class="eight-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total8}}
    {{#total9}}
    <div class="nine-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total9}}
    {{#total10}}
    <div class="ten-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total10}}
    {{#total11}}
    <div class="eleven-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total11}}
    {{#total12}}
    <div class="twelve-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total12}}
    {{#total13}}
    <div class="thirteen-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total13}}
    {{#total14}}
    <div class="fourteen-items">
        <div class="vsec-cont">
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
            <div class="vsec-line">
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
                <div class="vsec-item"></div>
            </div>
        </div>
    </div>
    {{/total14}}
</div>
