{{#editmode}}
    <button>
        <i class="fa fa-plus js-add-subsection"></i>
        <span>
            {{#str}}addsubsection, format_visualsections{{/str}}
        </span>
    </button>
{{/editmode}}