<div style="position: absolute; width: 1px; height: 1px">
    <svg>
        <defs>
            {{#imageurls}}
                <pattern id="{{code}}" x="0%" y="0%" height="100%" width="100%"
                         viewBox="0 0 512 512">
                    <image x="0%" y="0%" width="512" height="512" xlink:href="{{{url}}}" transform="translate(512 512) rotate(-90) scale(1 -1)"></image>
                </pattern>
            {{/imageurls}}
        </defs>
    </svg>
</div>

<div class="container">
    <div class="carousel slide" id="section-carousel">
        <div class="carousel-inner row mx-auto">
            {{#topicgroups}}
                <div class="carousel-item {{cssclass}}">
                    <div>
                    {{#topics}}
                        <span class="section-circle {{#locked}}locked{{/locked}}">
                            <h3 class="sectiontitle">
                                <span class="badge {{#locked}}badge-secondary{{/locked}}{{^locked}}badge-primary{{/locked}} mr-2">{{number}}</span>
                                {{name}}
                            </h3>
                        {{#link}}
                            <a href="{{{link}}}">
                        {{/link}}
                        {{#locked}}
                            <i class="fa fa-lock"></i>
                        {{/locked}}
                        <svg {{#tooltip}}data-toggle="tooltip" data-placement="bottom" title="{{.}}"{{/tooltip}} viewBox="0 0 800 800" preserveAspectRatio="xMidYMid meet" data-subtopicsjson="{{subtopicsjson}}" data-progress="{{progress}}" data-stroke="{{strokecolor}}">
                            <circle cx="400" cy="400" r="360" fill="none" stroke="{{strokecolor}}" stroke-width="6"/>
                            <circle class="progress" transform=" translate(400 400) rotate(-90) scale(1 -1)" cx="0" cy="0" r="370" fill="none" stroke="{{strokecolor}}" stroke-width="20"/>
                            <g class="arcs" transform=" translate(400 400) rotate(-90) scale(1 -1)">
                            </g>
                        </svg>
                        {{#link}}
                            </a>
                        {{/link}}
                        </span>
                    {{/topics}}
                    </div>
                </div>
            {{/topicgroups}}
        </div>
        <a class="carousel-control-prev" href="#section-carousel" role="button" data-slide="prev">
            {{# pix }} nav-left, format_visualsections {{/ pix }}
            <span class="sr-only">Previous</span>{{!TODO}}
        </a>
        <a class="carousel-control-next" href="#section-carousel" role="button" data-slide="next">
            {{# pix }} nav-right, format_visualsections {{/ pix }}
            <span class="sr-only">Next</span>{{!TODO}}
        </a>
        <ol class="carousel-indicators carousel-indicators-relative">
            {{#topicgroups}}
                <li data-target="#section-carousel" data-slide-to="{{index}}" class="{{cssclass}}">
                    {{# pix }} circle, format_visualsections {{/ pix }}
                    {{# pix }} circle-filled, format_visualsections {{/ pix }}
                </li>
            {{/topicgroups}}
        </ol>
    </div>
</div>