<div style="position: absolute; width: 1px; height: 1px">
    <svg>
        <defs>
            {{#imageurls}}
                <pattern id="{{code}}" x="0%" y="0%" height="100%" width="100%"
                         viewBox="0 0 512 512">
                    <image x="0%" y="0%" width="512" height="512" xlink:href="{{{url}}}" transform="translate(512 512) rotate(-90) scale(1 -1)"></image>
                </pattern>
            {{/imageurls}}
        </defs>
    </svg>
</div>

<h2 id="section-carousel-content-tile">{{#str}}circlenavtitle, format_visualsections{{/str}}</h2>
<div class="container mt-3">
    <div class="carousel slide" id="section-carousel">
        <!-- Overlay navigation is disabled for now. -->
        <button class="d-none btn btn-primary overlay-nav-trigger js-overlay-nav-trigger" aria-label="{{#str}}coursemap, format_visualsections{{/str}}"><i class="fa fa-sitemap"></i></button>
        <div class="carousel-spinner"></div>
        <div class="carousel-inner row mx-auto">
            {{#topicgroups}}
                <div class="carousel-item {{cssclass}}">
                    <div class="carousel-topics">
                    {{#topics}}
                        <span class="section-circle {{#locked}}locked{{/locked}}" id="section-circle-{{number}}">
                            <h3 class="sectiontitle">
                                <span class="badge {{#locked}}badge-secondary{{/locked}}{{^locked}}badge-primary{{/locked}} mr-2">{{number}}</span>
                                {{name}}
                            </h3>
                            {{#link}}
                                <a href="{{{link}}}" {{#arialabel}}aria-label="{{.}}"{{/arialabel}}>
                            {{/link}}
                            {{#locked}}
                                <i class="fa fa-lock"></i>
                            {{/locked}}
                            <svg class="svg-circle" {{#tooltip}}data-toggle="tooltip" data-placement="bottom" title="{{.}}"{{/tooltip}} viewBox="0 0 800 800" preserveAspectRatio="xMidYMid meet" data-subtopicsjson="{{subtopicsjson}}" data-progress="{{progress}}" data-stroke="{{strokecolor}}">
                                <circle class="main-circle" cx="400" cy="400" r="360" fill="none" stroke-width="6"/>
                                <g class="arcs" transform=" translate(400 400) rotate(-90) scale(1 -1)">
                                </g>
                            </svg>
                            {{#link}}
                                </a>
                            {{/link}}
                            {{! This is purely cosmetic - just a link between the circles }}
                            {{^lastitem}}
                                <span class="circle-link {{#nextlocked}}circle-link-locked{{/nextlocked}}{{^nextlocked}}circle-link-unlocked{{/nextlocked}}"></span>
                            {{/lastitem}}
                        </span>
                    {{/topics}}
                    </div>
                </div>
            {{/topicgroups}}
        </div>
        {{#shownavcontrols}}
        <a class="carousel-control-prev" href="#section-carousel" role="button" data-slide="prev">
            {{# pix }} nav-left, format_visualsections {{/ pix }}
            <span class="sr-only">{{#str}}previoussections, format_visualsections{{/str}}</span>
        </a>
        <a class="carousel-control-next" href="#section-carousel" role="button" data-slide="next">
            {{# pix }} nav-right, format_visualsections {{/ pix }}
            <span class="sr-only">{{#str}}nextsections, format_visualsections{{/str}}</span>
        </a>
        <ol class="carousel-indicators carousel-indicators-relative">
            {{#topicgroups}}
                <li data-target="#section-carousel" data-slide-to="{{index}}" class="{{cssclass}}">
                    {{# pix }} circle, format_visualsections {{/ pix }}
                    {{# pix }} circle-filled, format_visualsections {{/ pix }}
                </li>
            {{/topicgroups}}
        </ol>
        {{/shownavcontrols}}
    </div>
</div>
